<% content_for :head do %>
 <title>Usuario</title>
<% end %>
<div class="row center-xs">
  <div class="col-xs-6">
    <div class="box">
      <h1>Sistema de Registro de usuario</h1>
      <hr>
      <%= link_to "Agregar" ,new_user_path %>
      <hr>
      <table>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Email</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.phone %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>

          </td>
        </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>
