<div class="container">
  <div class="page-header text-center">
    <h1>Autor <small>Edit</small></h1>
  </div>

  <%= render 'form' %>
<br>
  <%= link_to 'Show', @author ,class:"btn btn-warning" %> |
  <%= link_to 'Back', authors_path,class:"btn btn-warning" %>

</div>
<br>
