<h1>Conjunto Residencial Molinos del Viento</h1>
<nav>
	<ul class="menu">
		<li><%= link_to "Torre", towers_path %></li>
		<li><%=link_to "Usuarios",users_path %></li>
	</ul>
</nav>
<div class="container">
  <div class="box ">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Eius consequatur saepe fuga animi odio sit ad,
    autem, ut ducimus incidunt explicabo illum dignissimos
    consequuntur quam doloribus amet excepturi aperiam ab.
  </p>
  </div>
</div>
